.header-nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: fixed;
  background-color: var(--background-color);
  z-index: 1050;

  .header-nav__logo {
    width: 50px;
    height: 50px;
  }
  .header-nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
    li {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      color: var(--text-color);
      padding-right: 20px;
      padding-left: 20px;
      letter-spacing: 1.4px;
      a {
        text-decoration: none;
        color: var(--heading-color);
        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
  .header-nav__icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    .header-nav__socials {
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          color: var(--heading-color);
          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
    .header-nav__dark-mode-button {
      list-style: none;
      margin: 0;
      padding: 0;

      button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--heading-color); // default icon color
        transition: color 0.2s;

        &:hover {
          color: var(--accent-color);
        }

        svg {
          width: 25px;
          height: 25px;
          fill: currentColor; // inherit color from button
        }
      }
    }
  }
}
