@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --heading-color: #2b2b2b;
  --text-color: #5a5a5a;
  --accent-color: #557d5f;
  --background-color: #f7f7f5;
  --accent-background-color: #e8e8e8;
  --border-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --heading-color: #ffffff;
  --text-color: #bababa;
  --accent-color: #c09a64;
  --background-color: #101010;
  --accent-background-color: #1c1c1c;
  --border-color: rgba(255, 255, 255, 0.1);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h3,
p,
a {
  font-family: "PT Sans", sans-serif;
}

.container {
  max-width: 1980px;
  margin: auto;
}

.carousel-container {
  max-width: 1900px;
  margin: auto;
}

.w-section {
  padding: 120px 0;
  .w-section__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--background-color);
}

.subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
