.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 40px 0;
  background-color: var(--background-color);

  .footer__logo-link {
    width: 50px;
    height: 50px;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 894px) {
      flex-direction: row;
    }
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    li {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      padding: 0 20px;
      letter-spacing: 1.4px;

      a {
        text-decoration: none;
        color: var(--heading-color);

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}
