.contact-me {
  background-color: var(--background-color);
  display: grid;
  gap: 20px;
  padding-bottom: 60px;
  padding-top: 60px;
  @media (min-width: 894px) {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    .contact-me__form {
      margin-bottom: 0px;
    }
  }
  .contact-me__text {
    background-color: var(--accent-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
    text-align: center;

    .contact-me__title {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      color: var(--heading-color);
    }

    .contact-me__subtitle {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: var(--text-color);
      padding-right: 20px;
      padding-left: 20px;
      letter-spacing: 1.4px;
    }
  }

  .contact-me__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      font-size: 14px;
      font-family: inherit;
      color: var(--text-color);
      background-color: var(--background-color);
      font-weight: 400;
      letter-spacing: 1.4px;
      text-transform: uppercase;
    }

    input::placeholder,
    textarea::placeholder {
      color: var(--text-color);
      opacity: 0.7;
    }
    .contact-me__button {
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      color: var(--heading-color);
      cursor: pointer;
      padding: 12px 24px;
      background-color: var(--background-color);
      border: 1px solid var(--text-color);
      padding: 12px 24px;
      cursor: pointer;
    }
    .contact-me__button:hover {
      background-color: var(--heading-color);
      border: 1px solid var(--background-color);
      color: var(--background-color);
    }
  }
}
