.header-nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  position: fixed;
  background-color: var(--background-color);
  z-index: 1050;

  .header-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .header-nav__left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .header-nav__logo {
      width: 50px;
      height: 50px;
    }

    .header-nav__burger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 20px;
      cursor: pointer;

      span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--heading-color);
        border-radius: 2px;
        transition: 0.3s;
      }

      &:hover span {
        background-color: var(--accent-color);
      }
    }

    .header-nav__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin: 0;
      padding: 0;

      li {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        padding: 0 20px;
        letter-spacing: 1.4px;

        a {
          text-decoration: none;
          color: var(--heading-color);

          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }

    .header-nav__icons {
      display: flex;
      align-items: center;
      gap: 30px;

      .header-nav__socials {
        display: flex;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
          color: var(--heading-color);

          &:hover {
            color: var(--accent-color);
          }
        }
      }

      .header-nav__dark-mode-button {
        list-style: none;
        margin: 0;
        padding: 0;

        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--heading-color);
          transition: color 0.2s;

          &:hover {
            color: var(--accent-color);
          }

          &:focus {
            outline: none;
          }

          svg {
            width: 25px;
            height: 25px;
            fill: currentColor;
          }
        }
      }
    }
  }

  @media (max-width: 893px) {
  .header-nav {
    justify-content: space-between;
  }

  .header-nav__inner .header-nav__socials {
    display: none;
  }

  .header-nav__inner .header-nav__burger {
    display: flex;
    margin-left: 10px;
  }

  .header-nav__inner .header-nav__list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--background-color);
    display: none;
    padding: 20px 0;
  }

  .header-nav__inner .header-nav__list li {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-nav__inner .header-nav__list.active {
    display: flex;
  }

  .header-nav__inner .header-nav__icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}
}
