.footer {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--background-color);
  margin: 40px auto;
  padding: 20px 10px;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
  }

  .footer__left {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .footer__logo-link {
    width: 50px;
    height: 50px;
  }

  .footer__socials {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 400px) {
      gap: 15px;
    }

    li a {
      color: var(--heading-color);
      display: flex;
      align-items: center;
      transition: color 0.2s;

      &:hover {
        color: var(--accent-color);
      }

      svg {
        width: 24px;
        height: 24px;

        @media (min-width: 400px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 10px 20px;
    margin: 0;
    padding: 0;

    @media (min-width: 600px) {
      gap: 15px 30px;
    }

    li {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      padding: 0 5px;
      letter-spacing: 1px;

      @media (min-width: 400px) {
        font-size: 14px;
        padding: 0 10px;
        letter-spacing: 1.4px;
      }

      a {
        text-decoration: none;
        color: var(--heading-color);

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}
