.introduction {
  background-color: var(--background-color);
  display: grid;
  gap: 5px;
  padding-bottom: 60px;
  padding-top: 60px;
  @media (min-width: 894px) {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    .introduction__text-container {
      margin-bottom: 0px;
    }
  }
  .introduction__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    gap: 17px;
    margin-bottom: 17px;

    .introduction__subtitle {
      font-size: 14px;
      font-weight: 400;
      color: var(--accent-color);
    }

    .introduction__title {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      color: var(--heading-color);
    }
    @media (min-width: 420px) {
      .introduction__title {
        font-size: 65px;
      }
    }
    @media (min-width: 520px) {
      .introduction__title {
        font-size: 80px;
      }
    }

    .introduction__description {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: var(--text-color);
      padding-right: 20px;
      padding-left: 20px;
      letter-spacing: 1.4px;
    }

    .introduction__contact-me-button {
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      color: var(--heading-color);
      cursor: pointer;
      padding: 12px 24px;
      background-color: var(--background-color);
      border: 1px solid var(--text-color);
      padding: 12px 24px;
      cursor: pointer;
    }
    .introduction__contact-me-button:hover {
      color: var(--background-color);
      background-color: var(--heading-color);
      border: 1px solid var(--background-color);
    }
  }
}
